In [12]:
import pandas as pd
import requests as r
import sqlalchemy
import time
pd.options.display.max_columns = None
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
#!kaggle datasets download -d palanjali007/amazons-top-50-bestselling-novels-20092020

In [2]:
#!unzip 'amazons-top-50-bestselling-novels-*.zip'

In [3]:
books_df=pd.read_csv('AmazonBooks - Sheet1.csv')
#after=""
#data=[]
#url="kaggle datasets download -d atahmasb/amazon-job-skills"
books_df.groupby(["Name", "Author"]).count()

,,User Rating,Reviews,Price,Year,Genre
Name,Author,,,,,
10-Day Green Smoothie Cleanse,JJ Smith,1,1,1,1,1
11/22/63: A Novel,Stephen King,1,1,1,1,1
12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,1,1,1,1,1
1984 (Signet Classics),George Orwell,1,1,1,1,1
"5,000 Awesome Facts (About Everything!) (National Geographic Kids)",National Geographic Kids,1,1,1,1,1
...,...,...,...,...,...,...
Winter of the World: Book Two of the Century Trilogy,Ken Follett,1,1,1,1,1
Women Food and God: An Unexpected Path to Almost Everything,Geneen Roth,1,1,1,1,1
Wonder,R. J. Palacio,5,5,5,5,5
Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,1,1,1,1,1
You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life,Jen Sincero,4,4,4,4,4

In [6]:
genre_df=pd.read_csv('genre.csv')
genre_df

,Unnamed: 0,Titles,Genre
0,0,12 Rules for Life: An Antidote to Chaos,Self Help
1,1,12 Rules for Life: An Antidote to Chaos,Psychology
2,0,"5,000 Awesome Facts (About Everything!) (Natio...",Nonfiction
3,1,"5,000 Awesome Facts (About Everything!) (Natio...",Science
4,2,"5,000 Awesome Facts (About Everything!) (Natio...",Childrens
...,...,...,...
2464,10,The Unofficial Harry Potter Cookbook: From Cau...,Magic
2465,11,The Unofficial Harry Potter Cookbook: From Cau...,Pop Culture
2466,12,The Unofficial Harry Potter Cookbook: From Cau...,Fandom
2467,13,The Unofficial Harry Potter Cookbook: From Cau...,Childrens
2468,14,The Unofficial Harry Potter Cookbook: From Cau...,Adult

In [16]:
genre_df=genre_df.rename(columns={"Titles":"Name", "Unnamed: 0":"Multiples"})

In [9]:
book_genre_df=pd.merge(books_df, genre_df, on="Name")
book_genre_df

,Name,Author,User Rating,Reviews,Price,Year,Genre_x,Unnamed: 0,Genre_y
0,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,0,Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,1,Historical
2,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,2,Historical Fiction
3,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,3,Science Fiction
4,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,4,Science Fiction
...,...,...,...,...,...,...,...,...,...
3440,Burn After Writing,Sharon Jones,4.6,26423,8,2020,Non Fiction,4,Health
3441,Burn After Writing,Sharon Jones,4.6,26423,8,2020,Non Fiction,5,Mental Health
3442,Human Body Activity Book for Kids: Hands-On Fu...,Katie Stokes,4.7,14128,5,2020,Non Fiction,0,Childrens
3443,Human Body Activity Book for Kids: Hands-On Fu...,Katie Stokes,4.7,14128,5,2020,Non Fiction,1,Science
3444,Human Body Activity Book for Kids: Hands-On Fu...,Katie Stokes,4.7,14128,5,2020,Non Fiction,2,Nonfiction

In [11]:
book_genre_df=book_genre_df.rename(columns={"Genre_x":"Gen_Genre", "Genre_y":"Spec_Genre"})
book_genre_df

,Name,Author,User Rating,Reviews,Price,Year,Gen_Genre,Unnamed: 0,Spec_Genre
0,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,0,Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,1,Historical
2,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,2,Historical Fiction
3,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,3,Science Fiction
4,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,4,Science Fiction
...,...,...,...,...,...,...,...,...,...
3440,Burn After Writing,Sharon Jones,4.6,26423,8,2020,Non Fiction,4,Health
3441,Burn After Writing,Sharon Jones,4.6,26423,8,2020,Non Fiction,5,Mental Health
3442,Human Body Activity Book for Kids: Hands-On Fu...,Katie Stokes,4.7,14128,5,2020,Non Fiction,0,Childrens
3443,Human Body Activity Book for Kids: Hands-On Fu...,Katie Stokes,4.7,14128,5,2020,Non Fiction,1,Science
3444,Human Body Activity Book for Kids: Hands-On Fu...,Katie Stokes,4.7,14128,5,2020,Non Fiction,2,Nonfiction

In [13]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [14]:
engine = create_engine('sqlite:///../Resources/database.sqlite')
Base.metadata.create_all(engine)

from sqlalchemy.orm import Session
session = Session(bind=engine)

NameError: name 'engine' is not defined